  body {
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
  }

  .myDiv {
    position: absolute;
    top: 32%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 1s;
    filter: blur(2.20px);
  }

  .myDiv:hover {
    display: flex;
    opacity: 2
  }

  .myDiv1 {
    position: absolute;
    top: 37%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 1s;
    filter: blur(3px);
  }

  .myDiv1:hover {
    display: flex;
    opacity: 2
  }

  .container {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: large;
    font-family: Verdana;
    }

  .container1 {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: large;
    font-family: Verdana;
    }
