  body {
    background-repeat: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .myDiv {
    margin: 0;
    position: absolute;
    top: 32%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .myDiv1 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 84%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
