  body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .myDiv {
    margin: 0;
    position: absolute;
    top: 32%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .myDiv1 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 84%;
    transform: translate(-50%, -50%);
  }
